body {
    background-color: #17181a;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: beige;
}

body {
    width: 100%;
    max-width: 2540px;
    margin: 0 auto;
}

.header {
    overflow: hidden;
    background: linear-gradient(-45deg, #37355a, #4a4090);
    padding: 25px 10px;
}
.header a {
    float: left;
    color: beige;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px; 
    line-height: 25px;
    border-radius: 4px;
}
.header a.logo {
    font-size: 250%;
    font-weight: bold;
}
.header a:hover {
    background-color: #504e77;
    color: beige;
}
.header a.active {
    background-color: dodgerblue;
    color: white;
} 
.header-right {
    float: right;
}
@media screen and (max-width: 610px) {
.header a {
    float: none;
    display: block;
    text-align: left;
}
.header-right {
    float: none;
}
}

footer {
    position:absolute;
    bottom: 0;
    width: 100%;
    background: #23272a;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
}
footer h2 {
    font-size: 180%;
}
footer p {
    font-size: 110%;
}
footer button {
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
}
footer button img {
    height: 30px;
    width: 30px;
}

.enhanced-industries-logo {
    margin: auto;
    text-align: center;
    height: 200px;
    background: linear-gradient(-60deg, #23272a, #17181a, #17181a, #17181a);
    border-radius: 0 20px 20px 20px;
    width: 250px;
    height: 200px;
    margin-top: 15px;
}
.enhanced-industries-logo img {
    max-width: 100%;
    height: auto;
    padding-right: 20px;
}
.enhanced-industries-logo h2 {
    font-size: x-large;
    position: relative;
    bottom: 25px;
}
.enhanced-industries-logo p {
    position: relative;
    bottom: 40px;
}

.discord-main {
    margin-top: 50px;
}
.discord-main button {
    background-color: #404eed;
    border-radius: 3px;
    border: none;
    padding: 10px 20px 10px 15px;
    cursor: pointer;
}
.discord-main a button img {
    width: 30px;
    border-right: 20px solid transparent;
    position: relative;
    top: 3px;
}
.discord-main a button span {
    color: white;
    font-weight: bold;
    font-size: 15px;
    position: relative;
    bottom: 6px;
}

.main-text {
    margin: 45px 50px;
    border: solid transparent;
    border-radius: 10px;
    background-color: #1c1f22;
    box-shadow: 26px 13px 18px #101110;
}
@media screen and (max-width: 610px) {
    .main-text {
        margin: 45px 0px;
    }
}
.main-text p {
    padding: 5px 15px;
}